
#grid-container {
    display: grid;
    height: 8vh;
    width: 8vh;
    background-color: white;
    overflow: hidden;
}

.cell {
    width: 0.4vh;
    height: 0.4vh;
    background-color: white;
}

.cell.alive {
    background-color: rgb(19, 238, 19);
}