* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hide scrollbars but allow scrolling */
*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none; /* for Internet Explorer and Edge */
    scrollbar-width: none; /* for Firefox */
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
}

.divider {
    width: 100%; 
    height: 2px;
    background-color: #333;
    margin: 5px 0;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

.sidebar {
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    z-index: 1;
}

.sidebar h2 {
    margin: 20px 0;
    text-align: center;
}

.sidebar p {
    margin: 5px 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start; 
}

.sidebar p .material-icons {
    margin-right: 10px; 
}

.sidebar a {
    color: #f4f4f9;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

main {
    margin-left: 350px;
    width: calc(100% - 350px);
    padding-top: 50px; 
    min-height: 100vh;
    overflow: hidden; 
    background-color: #222;
}

.tab-bar {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    width: 100%;
    height: 50px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 350px;
    z-index: 2;
}

.tab-bar li {
    margin: 0;
}

.tab-bar li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px; 
}

.tab-bar li a.active {
    text-decoration: underline;
    font-weight: bold;
    border-radius: 20px; 
}

.tab-bar li a:hover {
    background-color: #555;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #222; 
    color: white; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto; 
}

.tab-content.active {
    display: block;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.tab-subsection {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    background-color: #444;
    cursor: default;
}

.tab-subsection-list {
    padding-left: 20px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.icon-badge {
    background-color: white;
    color: white;
    height: 1cm;
    width: 1cm;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.icon-badge img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

#subsection-divider {
    display: flex;
    gap: 10px;
}

#subsection-divider > div {
    flex: 1;
    max-width: 50%;
}

#subsection-divider p {
    margin: 0;
}

#game-of-life-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}